/* mobile devices ca 2004 */
#button_box {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

/* general */
.counting {
  font-size: small;
  color: #e8e9ea;
  margin-top:5px;
}

button {
  width: 100%;
  font-size: 1em;
  margin-top: 5px;
  border: 2px;
  border-radius: 8px;
  transition: 0.3s;
  background: white;
}

button:hover {
  background:#28a745;
}

body {
  background: #0077bf;
  color: #f8f9faff;
}

h3 {
  font-size: x-large;
  color: #111111;;
  background: #ffc107;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

footer {
  font-size:small;
  color:#eeeeee;
  margin-top:1px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #f8f9faff;
}

a:visited {
  color: #f8f9faff;
}

a:hover {
  color: #ffc107;
}

a:active {
  color: #ffc107;
}

/* desktop (& mobile devices <15 years old) */
@media only screen and (min-width: 768px) {
  #button_box {
    width: 500px;
    text-align: center;
    font-size: 1em;
  }
}
